.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.logo {
  color: #4f46e5;
  font-size: 24px;
  font-weight: 700;
}
